<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
  </head>
<body>
<h2>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Bookers !!</h2>
<h4>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers<br>
	you can shere and exchange your opinions,inoressions,and emotions<br>
    about various books!
</h4>
<%= link_to "login", new_user_session_path %><br>
<%= link_to "Signup", new_user_registration_path %>
</body>
</html>
