<%=flash[:notice] %>
<!-- 投稿内容 -->
<h3>User info</h3>
    <div class="container">
    <div class="row">
      <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
            <h3>Book detail</h3>
        <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
        </thead>
        </table>
      </div>
    </div>
    </div>
<!-- <table>
	<tr>
	 <th width="800">Title</th><th width="900">Opinion</th><th></th>
	</tr> -->
<!-- 繰り返し表示 -->
<% @book.each do |book| %>
<tr>
<td><%= book.title %></td>
<td><%= book.body %></td>
<!-- 各種リンク -->
<td><%= link_to "Show","/books/#{book.id}"%></td>
</tr>
<% end %>
</table>

<!-- 投稿機能-->
<h3>New book</h3>
<form>
  <div class="col-lg-3">
    <label for="exampleFormControlInput1">Title</label>
    <input type="title" class="form-control" id="exampleFormControlInput1">
    <label for="exampleFormControlTextarea1">Opinion</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" class="btn btn-primary">Create Book</button>
  </div>
</form>