<!DOCTYPE html>
<html>
	<head>
    	<title>Bookers</title>
	</head>
	<body>
		<div class="container2">
			<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers!</h1>
			</div>
		</div>
	</body>
</html>